# /etc/smartd.conf
DEFAULT -a -o on -S on -d removable -n never -s (S/../(05|12|19|26)/./03|L/../(08|23)/./04) -W 5,41,45 -m {{ email }}
/dev/sda
/dev/sdc
/dev/sde
/dev/sdg
/dev/sdi
/dev/sdk -W 10,59,65
DEFAULT -a -o on -S on -d removable -n never -s (S/../(05|12|19|26)/./03|L/../(09|24)/./04) -W 5,41,45 -m {{ email }}
/dev/sdb
/dev/sdd
/dev/sdf
/dev/sdh
/dev/sdj
/dev/sdl -W 10,59,65
