---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      version: 6.21.5
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      interval: 5m
  values:
    replicas: 1
    deploymentStrategy:
      type: RollingUpdate
    admin:
      existingSecret: grafana
      userKey: adminUser
      passwordKey: adminPass
    grafana.ini:
      analytics:
        check_for_updates: false
      auth.basic:
        disable_login_form: false
      date_formats:
        default_timezone: "America/New_York"
      explore:
        enabled: true
      grafana_net:
        url: https://grafana.net
      log:
        mode: console
        filters: rendering:debug
      paths:
        data: /var/lib/grafana
        logs: /var/log/grafana
        plugins: /var/lib/grafana/plugins
        provisioning: /etc/grafana/provisioning
      panels:
        disable_sanitize_html: true
      server:
        root_url: "https://grafana.${SECRET_DOMAIN}"
    serviceMonitor:
      enabled: true
    persistence:
      enabled: false
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-production
      hosts:
        - &host "grafana.${SECRET_DOMAIN}"
      path: /
      tls:
        - secretName: grafana-tls
          hosts:
            - *host
    plugins:
      - grafana-piechart-panel
      - grafana-polystat-panel
      - grafana-worldmap-panel
      - grafana-clock-panel
      - grafana-singlestat-panel
      - mxswat-separator-panel
      - farski-blendstat-panel
      - speakyourcode-button-panel
      - snuids-trafficlights-panel
    imageRenderer:
      enabled: true
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        folderAnnotation: grafana_folder
        multicluster: true
        provider:
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - name: Loki
            orgId: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://thanos-query:9090/
            isDefault: true
          - name: Loki
            type: loki
            access: proxy
            url: http://loki:3100
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: "flux"
            orgId: 1
            folder: "flux"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/flux
          - name: "loki"
            orgId: 1
            folder: "loki"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/loki
          - name: "media"
            orgId: 1
            folder: "media"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/media
          - name: "networking"
            orgId: 1
            folder: "networking"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/networking
          - name: "power"
            orgId: 1
            folder: "power"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/power
          - name: "storage"
            orgId: 1
            folder: "storage"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/storage
          - name: "thanos"
            orgId: 1
            folder: "thanos"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/thanos
    dashboards:
      flux:
        cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/grafana/dashboards/cluster.json
          datasource: Prometheus
        control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/grafana/dashboards/control-plane.json
          datasource: Prometheus

      loki:
        chunks:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/loki/dashboards/loki-chunks.json
          datasource: Prometheus
        deletion:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/loki/dashboards/loki-deletion.json
          datasource: Prometheus
        logs:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/loki/dashboards/loki-logs.json
          datasource: Prometheus
        recording:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/loki/dashboards/loki-mixin-recording-rules.json
          datasource: Prometheus
        operational:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/loki/dashboards/loki-operational.json
          datasource: Prometheus
        reads:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/loki/dashboards/loki-reads.json
          datasource: Prometheus
        reads-resources:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/loki/dashboards/loki-reads-resources.json
          datasource: Prometheus
        retention:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/loki/dashboards/loki-retention.json
          datasource: Prometheus
        writes:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/loki/dashboards/loki-writes.json
          datasource: Prometheus
        writes-resources:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/loki/dashboards/loki-writes-resources.json
          datasource: Prometheus

      media:
        lidarr:
          url: https://raw.githubusercontent.com/k8s-at-home/grafana-dashboards/main/lidarr.json
          datasource: Prometheus
        radarr:
          url: https://raw.githubusercontent.com/k8s-at-home/grafana-dashboards/main/radarr.json
          datasource: Prometheus
        sonarr:
          url: https://raw.githubusercontent.com/k8s-at-home/grafana-dashboards/main/sonarr.json
          datasource: Prometheus

      networking:
        blackbox:
          url: https://raw.githubusercontent.com/jr0dd/grafana-dashboards/main/blackbox.json
          datasource: Prometheus
        blocky:
          url: https://raw.githubusercontent.com/jr0dd/grafana-dashboards/main/blocky.json
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/15513
        cert-manager:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/cert-manager/dashboards/cert-manager.json
          datasource: Prometheus
        cilium-agent:
          gnetId: 15513
          revision: 1
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/15514
        cilium-operator:
          gnetId: 15514
          revision: 1
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/15515
        cilium-hubble:
          gnetId: 15515
          revision: 1
          datasource: Prometheus
        mikrotik:
          url: https://raw.githubusercontent.com/IgorKha/Grafana-Mikrotik/master/grafana/provisioning/dashboards/Mikrotik-snmp-prometheus.json
          datasource: Prometheus
        nginx:
          url: https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/grafana/dashboards/nginx.json
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/13665
        speedtest:
          gnetId: 13665
          revision: 1
          datasource: Prometheus

      power:
        # Ref: https://grafana.com/grafana/dashboards/14371
        nut:
          gnetId: 14371
          revision: 1
          datasource: Prometheus

      storage:
        openebs-zfs-localpv:
          url: https://raw.githubusercontent.com/jr0dd/grafana-dashboards/main/openebs-zfs-localpv.json
          datasource: Prometheus
        minio:
          url: https://raw.githubusercontent.com/jr0dd/grafana-dashboards/main/minio.json
          datasource: Prometheus

      thanos:
        bucket-replicate:
          url: https://raw.githubusercontent.com/thanos-io/thanos/main/examples/dashboards/bucket-replicate.json
          datasource: Prometheus
        compact:
          url: https://raw.githubusercontent.com/thanos-io/thanos/main/examples/dashboards/compact.json
          datasource: Prometheus
        overview:
          url: https://raw.githubusercontent.com/thanos-io/thanos/main/examples/dashboards/overview.json
          datasource: Prometheus
        query:
          url: https://raw.githubusercontent.com/thanos-io/thanos/main/examples/dashboards/query.json
          datasource: Prometheus
        query-frontend:
          url: https://raw.githubusercontent.com/thanos-io/thanos/main/examples/dashboards/query-frontend.json
          datasource: Prometheus
        receive:
          url: https://raw.githubusercontent.com/thanos-io/thanos/main/examples/dashboards/receive.json
          datasource: Prometheus
        rule:
          url: https://raw.githubusercontent.com/thanos-io/thanos/main/examples/dashboards/rule.json
          datasource: Prometheus
        sidecar:
          url: https://raw.githubusercontent.com/thanos-io/thanos/main/examples/dashboards/sidecar.json
          datasource: Prometheus
        store:
          url: https://raw.githubusercontent.com/thanos-io/thanos/main/examples/dashboards/store.json
          datasource: Prometheus
