---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: homebridge-config-v1
  namespace: home
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 250Mi
  storageClassName: openebs-zfspv-pool
