---
# {{ ansible_managed }}

panic action = /usr/share/samba/panic-action %d

# user settings
obey pam restrictions = yes
unix password sync = yes
passwd program = /usr/bin/passwd %u
passwd chat = *Enter\snew\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\supdated\ssuccessfully* .
pam password change = yes

# time machine settings
fruit:model = MacSamba
fruit:advertise_fullsync = true

# zfs with apple vfs objects
vfs objects: fruit streams_xattr shadow_copy_zfs acl_xattr zfs_core io_uring