# {{ ansible_managed }}

writable = yes
durable_handles = yes
kernel oplocks = no
kernel share modes = no
posix locking = no
ea support = yes
browseable = no
read only = no
inherit acls = yes
fruit:nfs_aces = no
fruit:time machine = yes
