---
- name: power | disable single power button press shutdown
  ansible.builtin.lineinfile:
    path: /etc/systemd/logind.conf
    regexp: "{{ item.setting }}"
    line: "{{ item.setting }}={{ item.value }}"
  loop:
    - {setting: HandlePowerKey, value: ignore}

- name: power | restart logind systemd service
  ansible.builtin.systemd:
    name: systemd-logind
    daemon_reload: true
    enabled: true
    state: restarted
