# {{ ansible_managed }}
set ask askcc append dot save crt
ignore Received Message-Id Resent-Message-Id Status Mail-From Return-Path Via Delivered-To

set mta=/usr/bin/msmtp
alias root root<{{ email }}>
