---
apiVersion: v1
kind: ConfigMap
metadata:
  name: bgp-config
  namespace: kube-system
data:
  config.yaml: |
    peers:
      - peer-address: "{{ cilium_bgp_peer_ip }}"
        peer-asn: {{ cilium_bgp_peer_as_number }}
        my-asn: {{ cilium_bgp_as_number }}
    address-pools:
      - name: "{{ cilium_bgp_pool_name | default('default') }}"
        protocol: bgp
        avoid-buggy-ips: true
        addresses:
          - "{{ cilium_bgp_pool_cidr }}"
