---
etcd-s3: {{ k3s_etcd_s3 | bool | lower }}
{% if k3s_etcd_s3 %}
etcd-snapshot-schedule-cron: "{{ k3s_etcd_snapshot_schedule_cron }}"
etcd-snapshot-retention: {{ k3s_etcd_snapshot_retention }}
etcd-s3-endpoint: "{{ k3s_etcd_s3_endpoint }}"
etcd-s3-bucket: "{{ k3s_etcd_s3_bucket }}"
etcd-s3-access-key: "{{ k3s_etcd_s3_access_key }}"
etcd-s3-secret-key: "{{ k3s_etcd_s3_secret_key }}"
{% endif %}
