---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # renovate: datasource=docker image=quay.io/jetstack/cert-manager-controller
  - https://github.com/cert-manager/cert-manager/releases/download/v1.13.2/cert-manager.crds.yaml
  - helm-release.yaml
  - issuers
  - prometheus-rule.yaml
  - secret.sops.yaml
