# {{ ansible_managed }}
defaults
auth on
tls  on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile /var/log/msmtp

account  {{ smtp_account_name }}
host     {{ smtp_address }}
port     {{ smtp_port }}
from     {{ smtp_from }}
user     {{ email }}
password {{ smtp_password }}

account default: {{ smtp_account_name }}
maildomain: {{ ansible_fqdn }}

aliases /etc/aliases
