# {{ ansible_managed }}
#======================== Global Settings ========================#
{% if samba_global is defined and samba_global | length %}
{{ samba_global }}
{% else %}
[global]
    server string = Ubuntu SMB Server
    server min protocol = SMB3
    server multi channel support = yes
    server role = standalone server

    ## user settings
    unix password sync = yes
    passwd program = /usr/bin/passwd %u
    passwd chat = *Enter\snew\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\supdated\ssuccessfully* .

    ## permissions
    browseable = yes
    map to guest = bad user
    access based share enum = yes
    create mode = 0664
    directory mode = 0775

    ## printers
    load printers = no
    printcap name = /dev/null
    disable spoolss = yes

    ## logging
    logging = systemd
    log level = 3 passdb:3 auth:3 vfs:3

    ## networking osx/linux specific
    bind interfaces only = yes
    dns proxy = no
    disable netbios = yes
    smb ports = 445
    name resolve order = host bcast

    ## vfs objects
    vfs objects = acl_xattr catia fruit streams_xattr io_uring

    ## osx settings
    spotlight = yes
    fruit:aapl = yes
    fruit:model = RackMac
    fruit:copyfile = yes
    fruit:nfs_aces = yes
    fruit:posix_rename = yes
    fruit:veto_appledouble = no
    fruit:wipe_intentionally_left_blank_rfork = yes
    fruit:delete_empty_adfiles = yes
    fruit:locking = netatalk
    fruit:encoding = native
    fruit:resource = file
    fruit:metadata = netatalk
    fruit:zero_file_id = yes
    durable handles = yes
    ea support = yes
    kernel oplocks = no
    kernel share modes = no
    posix locking = no
{% endif %}
#======================= Share Definitions =======================#
{% if samba_shares is defined and samba_shares | length %}
{{ samba_shares }}
{% else %}
# no shares defined
{% endif %}
