---
#
# Below vars are for the xanmanning.k3s role
# ...see https://github.com/PyratLabs/ansible-role-k3s#globalcluster-variables
#

# Use a specific version of k3s
# renovate: datasource=github-releases depName=k3s-io/k3s
k3s_release_version: "v1.24.2+k3s1"

# Install using hard links rather than symbolic links.
# ...if you are using the system-upgrade-controller you will need to use hard links
# rather than symbolic links as the controller will not be able to follow symbolic links.
k3s_install_hard_links: true

# Escalate user privileges for all tasks.
k3s_become: true

# Enable debugging
k3s_debug: false

# Enabled embedded etcd
k3s_etcd_datastore: true

# Network CIDR to use for Pods
k3s_cluster_cidr: 10.42.0.0/16

# Network CIDR to use for service IPs
k3s_service_cidr: 10.43.0.0/16

# Enable for single or even number of masters
k3s_use_unsupported_config: true

# Control Plane registration address
k3s_registration_address: "k8s.{{ domain }}"

# A list of templates used for configuring the server.
k3s_server_config_yaml_d_files:
  - "10-etcd-snapshots.yaml.j2"

# /var/lib/rancher/k3s/server/manifests
k3s_server_manifests_templates:
  - "cilium/cilium-installation.yaml.j2"
