# {{ ansible_managed }}
[Unit]
Description=Shutdown k3s cluster before reboot/shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/local/bin/k3s-killall.sh

[Install]
WantedBy=halt.target reboot.target shutdown.target
