# {{ ansible_managed }}
---
network:
  version: 2
  renderer: networkd
  ethernets:
    enp0s0f0:
      addresses:
        - {{ ansible_default_ipv4.address }}/24
      routes:
        - to: default
          via: {{ ansible_default_ipv4.gateway }}
      nameservers:
        addresses:
          - {{ ansible_default_ipv4.gateway }}
        search: []
