---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - alerts.yaml
  - https://raw.githubusercontent.com/fluxcd/flux2/v0.31.3/manifests/monitoring/monitoring-config/podmonitor.yaml
