# {{ ansible_managed }}
---
network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ansible_default_ipv4.interface }}:
      addresses:
        - {{ ansible_default_ipv4.address }}/24
        {% if kubevip_source_ip is defined %}
        - {{ kubevip_source_ip }}/24
        {% endif %}
      routes:
        - to: default
          via: {{ ansible_default_ipv4.gateway }}
      nameservers:
        addresses:
          - {{ ansible_default_ipv4.gateway }}
        search: []
