---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - github.com/rancher/system-upgrade-controller?ref=v0.13.1
  - plans
images:
  - name: rancher/system-upgrade-controller
    newTag: v0.13.2
patchesStrategicMerge:
  # Delete namespace resource
  - patches.yaml
