---
name: Diff Helm Releases

on: # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
    paths:
      - "cluster/**.yaml"

env:
  # Currently no way to detect automatically
  DEFAULT_BRANCH: main
  BOT_USERNAME: wyoa-bot[bot]

jobs:
  changes:
    name: Get Changes
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          list-files: json
          filters: |
            yaml:
              - added|modified: "**/helm-release.yaml"
    outputs:
      yamls: ${{ steps.filter.outputs.yaml_files }}

  diff:
    name: Diff Helm Releases
    runs-on: ubuntu-22.04
    needs:
      - changes
    strategy:
      matrix:
        file: ${{ fromJSON(needs.changes.outputs.yamls) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Token
        uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      - name: Checkout default branch
        uses: actions/checkout@v3
        with:
          ref: ${{ env.DEFAULT_BRANCH }}
          path: default

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.6.3

      - name: Helm Release Differ
        id: diff
        shell: bash
        run: |
          diff=$(.github/scripts/helm-release-differ.sh --source-file "default/${{ matrix.file }}" --target-file "${{ matrix.file }}" --remove-common-labels)
          echo "${diff}"
          diff="${diff//'%'/'%25'}"
          diff="${diff//$'\n'/'%0A'}"
          diff="${diff//$'\r'/'%0D'}"
          echo "::set-output name=diff::$(echo ${diff})"

      - name: Find Comment
        uses: peter-evans/find-comment@v2
        id: find-comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: ${{ env.BOT_USERNAME }}
          body-includes: ${{ matrix.file }}

      - name: Create or update comment
        uses: peter-evans/create-or-update-comment@v2
        with:
          token: ${{ steps.generate-token.outputs.token }}
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: ${{ steps.diff.outputs.diff }}
          edit-mode: replace
