---
name: Lint

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    name: MegaLinter
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Generate Token
        uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      - name: MegaLinter
        uses: oxsecurity/megalinter@v6.7.1
        env:
          VALIDATE_ALL_CODEBASE: ${{ github.event_name == 'workflow_dispatch' }}
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          ENABLE_LINTERS: ACTION_ACTIONLINT,BASH_SHELLCHECK,GIT_GIT_DIFF,JSON_PRETTIER,KUBERNETES_KUBEVAL,TERRAFORM_TFLINT,YAML_YAMLLINT
          ACTION_ACTIONLINT_FILTER_REGEX_EXCLUDE: (helm-release-differ.yaml)
          FILTER_REGEX_EXCLUDE: (.*\\.sops\\.ya?ml)
          JSON_PRETTIER_CONFIG_FILE: .prettierrc.yaml
          JSON_PRETTIER_FILTER_REGEX_EXCLUDE: (.vscode)
          KUBERNETES_DIRECTORY: cluster
          KUBERNETES_KUBEVAL_ARGUMENTS: --ignore-missing-schemas
          TERRAFORM_TFLINT_CONFIG_FILE: .tflint.hcl
          YAML_YAMLLINT_CONFIG_FILE: .yamllint.yaml

      - name: Archive production artifacts
        if: ${{ success() }} || ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: MegaLinter reports
          path: |
            report
            mega-linter.log
